{% extends 'base.html' %}
{% load humanize %}
{% block branches_link_active %}active{% endblock %}
{% block page_header_title %}Branch #{{br.id}} &mdash; {{br.name}}{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Branch ID</th>
                                <th>Name</th>
                                <th>Created On</th>
                                <th>Last Modified</th>
                                <th>Asset Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with br as b %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:branch_detail' b.pk %}">{{b.id}}</a>
                                    </td>
                                    <td>{{ b.name }}</td>
                                    <td>
                                        {{b.created}} <br>
                                        <small class="text-muted">{{ b.created|naturaltime }}</small>
                                    </td>
                                    <td>
                                        {{b.modified}}
                                    </td>
                                    <td>
                                        {{b.computers.count}}
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ br.computers.count }} Computer Asset{{br.computers.count|pluralize}} at {{ br.name }}
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Asset ID</th>
                                <th>Nickname</th>
                                <th>Type</th>
                                <th>Logs Recorded</th>
                                <th>Location</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in br.computers.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:computer' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.nickname }}</td>
                                    <td>{{ c.type }}</td>
                                    <td>{{c.logs.count }}</td>
                                    <td>
                                        Branch ID: {{ c.branch.id }} <br>
                                        <span class="text-muted">{{ c.branch.name }}</span>
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>Nothing available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}