{% extends 'base.html' %}
{% load humanize %}
{% block assets_link_active %}active{% endblock %}
{% block page_header_title %}#{{comp.id}} &mdash; {{comp.nickname}}{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Asset ID</th>
                                <th>Nickname</th>
                                <th>Type</th>
                                <th>Logs Recorded</th>
                                <th>Location</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with comp as c %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:computer' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.nickname }}</td>
                                    <td>{{ c.type }}</td>
                                    <td>{{c.logs.count }}</td>
                                    <td>
                                        Branch ID: {{ c.branch.id }} <br>
                                        <span class="text-muted">{{ c.branch.name }}</span>
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-deck">
        <div class="card card-outline card-navy">
                <div class="card-header">
                    Event Share Metrics (On Device)
                </div>
                <div class="card-body">
                    <canvas id="boss-rep"></canvas>
                </div>
        </div>
        <div class="card card-outline card-navy">
                <div class="card-header">
                    Event Share Metrics (On Device) &mdash; Monthly
                </div>
                <div class="card-body">
                    <canvas id="mbb" style="height: 200px;"></canvas>
                </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        var pieChartCanvas = $('#boss-rep').get(0).getContext('2d');
        var pieData = {
                labels: [
                    {% for ev in events %}
                        '{{ ev.title }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                    data: [
                        {% for ev in events %}
                            '{{ ev.logs.count }}',
                        {% endfor %}
                    ],
                    backgroundColor : [
                        {% for ev in events %}
                            '{{ ev.color }}',
                        {% endfor %}
                    ],
                    }
                ]
        }

        var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
        }
        var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions      
        })
    </script>
{% endblock %}