{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block change_password_link_active %}active{% endblock %}
{% block page_header_title %} <i class="fas fa-key"></i> Change Password{% endblock page_header_title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active">
        Change Password
    </li>
{% endblock breadcrumbs %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-12 col-md-4">
                                {{ form.old_password|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-4">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-4">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-4">
                                <button class="btn btn-outline-primary btn-sm"><i class="fas fa-fingerprint"></i> Change Password </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}