{% extends 'base.html' %}
{% load humanize %}
{% block events_link_active %}active{% endblock %}
{% block page_header_title %}Events Reference{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ events.count }} Event{{events.count|pluralize}} Defined
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Title</th>
                                <th>Color Code</th>
                                <th>Hits</th>
                                <th>Created on</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in events %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:event' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.event_id }}</td>
                                    <td>{{ c.title }}</td>
                                    <td>{{c.color }} <br>
                                        <div style="width: 70px; height: 8px; background-color: {{ c.color }};"></div>
                                    </td>
                                    <td>
                                        {{c.logs.count}}
                                    </td>
                                    <td>
                                        {{c.created}} <br>
                                        <small class="text-muted">
                                            {{c.created|naturaltime}}
                                        </small>
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>Nothing available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}