{% extends 'base.html' %}
{% block home_link_active %}active{% endblock %}
{% block page_header_title %}Dashboard{% endblock page_header_title %}
{% block page_content %}
<div class="row">
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-secondary">
        <div class="inner">
          <h3>{{ asset_count }}</h3>

          <p>Computer Asset{{asset_count|pluralize }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'com:computers' %}" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ branch_count }}</h3>

          <p>Branches on File</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'com:branches' %}" class="small-box-footer">View Branches <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ log_count }}</h3>

          <p>Log{{log_count|pluralize}} Uploaded</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="{% url 'com:logs' %}" class="small-box-footer">All Logs <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="card card-outline card-navy">
            <div class="card-header">
                Recent Logs
            </div>
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <thead class="bg-navy">
                    <tr>
                        <th>Entry ID</th>
                        <th>Processing Status</th>
                        <th>Branch</th>
                        <th>Computer</th>
                        <th>File</th>
                        <th>Logging Period</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in recent_logs %}
                        <tr>
                            <td>
                                <a href="{% url 'com:log_detail' l.pk %}">{{l.id}}</a>
                            </td>
                            <td>
                                {% if l.processed %}
                                <i class="fas fa-check-circle text-success"></i> Processed
                                {% else %}
                                    <i class="fas fa-times-circle text-muted"></i> Pending
                                {% endif %}
                            </td>
                            <td>
                                ID: {{ l.computer.branch.id }} <br>
                                <span class="text-muted">{{ l.computer.branch.name }}</span>
                            </td>
                            <td>
                                Serial: {{ l.computer.serial }} <br>
                                <span class="text-muted">{{l.computer.nickname }}</span>
                            </td>
                            <td>
                                <a href="{{ l.file.url }}">{{ l.file }}</a>
                            </td>
                            <td>
                                {{ l.start }} &mdash; {{l.end}} <br>
                                Duration:<span class="text-muted"> {{l.start|timesince:l.end }}</span>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">
                                <i>No logs available at the moment</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
          </div>
      </div>
  </div>
{% endblock %}