{% extends 'base.html' %}
{% block logs_link_active %}active{% endblock %}
{% block page_header_title %}Log #{{log.id }}{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Entry ID</th>
                                <th>Type</th>
                                <th>Branch</th>
                                <th>Computer</th>
                                <th>File</th>
                                <th>Logging Period</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with log as l %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:log_detail' l.pk %}">{{l.id}}</a>
                                    </td>
                                    <td>{{ l.type }}</td>
                                    <td>
                                        ID: {{ l.computer.branch.id }} <br>
                                        <span class="text-muted">{{ l.computer.branch.name }}</span>
                                    </td>
                                    <td>
                                        Serial: {{ l.computer.serial }} <br>
                                        <span class="text-muted">{{l.computer.nickname }}</span>
                                    </td>
                                    <td>
                                        <a href="{{ i.file.url }}">{{ l.file }}</a>
                                    </td>
                                    <td>
                                        {{ l.date_from }} &mdash; {{l.date_to}} <br>
                                        Duration:<span class="text-muted"> {{l.date_from|timesince:l.date_to }}</span>
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}