{% load static humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block page_title %}{% endblock page_title %} MMC Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
          <link rel="stylesheet" href="{% static 'lte/plugins/fontawesome-free/css/all.min.css' %}">
          <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
          <link rel="stylesheet"
                href="{% static 'lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'lte/dist/css/adminlte.min.css' %}">
       <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
        
        <style>
        * {
            font-family: 'Lato', sans-serif;
        }

        .input-group-text {
          background-color: #fff !important;
        }
      .form-control-lg {
        font-size: 1rem;
      }
      .bg-isppme {
              background: #10d64f linear-gradient(180deg,#fff,#142747) repeat-x!important;
      }
      .custom {
          background-color: #fff !important;
      }
      .btn-orange {

color: #001f3f;
background-color: #fd7e14;
border-color: #fd7e14;
box-shadow: none;

}

.btn-orange:hover {
color: #001f3f;
background-color: #f14e05;
border-color: #f14e05;

}
.bg-isppme-2 {
background-color: #142747 !important;
color: #fff !important
}
      </style>
    {% endblock %}
</head>
<body class="hold-transition login-page bg-isppme">

    <div class="login-box bg-gradient-light" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div class="login-logo pt-4 d-flex align-items-center justify-content-center flex-column">
            MMC Login       
        </div>
        <!-- /.login-logo -->
        <div class="card mt-3 shadow shadow-lg border-danger" style="border-bottom: 2px solid #fd7e14; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
          <div class="card-body bg-isppme-2 login-card-body">
            <p class="login-box-msg my-1 text-white-50">Sign in to start your session</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      {% if message.level_tag == "error" %}
                        <h5 class="font-weight-bold"><i class="fas fa-exclamation-circle"></i> Error!</h5>
                      {% elif message.level_tag == "success" %}
                        <h5 class="font-weight-bold"><i class="fas fa-check-circle"></i> Success!</h5>
                      {% elif message.level_tag == "warning" %}
                        <h5 class="font-weight-bold"><i class="fas fa-exclamation-triangle"></i> Warning!</h5>
                      {% else %}
                        <h5 class="font-weight-bold"><i class="fas fa-info-circle"></i> Alert!</h5>
                      {% endif %}
                      {{ message|safe }}
                    </div>
                  {% endfor %}
                {% endif %}
              <div class="input-group mb-4">
                <input class="form-control form-control-lg" name="username" placeholder="Username" type="text" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user-cog"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input class="form-control form-control-lg" name="password" placeholder="Password" type="password" required>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fas fa-fingerprint"></span>
                  </div>
                </div>
              </div>
              <div class="py-2"></div>
              <div class="row">
                <div class="col-7">
                  <p class="mb-1">
                    <a href="javascript:void(0)" class="text-white-50 text-underline">Forgot password?</a>
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-5">
                  <button type="submit" class="btn btn-outline-light btn-block">
                    <i class="fas fa-caret-right" ></i> Sign In <i class="fa fa-fingerprint"></i> 
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <!-- /.social-auth-links -->
    
    
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>

{% block js %}
      <!-- jQuery -->
      <script src="{% static 'lte/plugins/jquery/jquery.min.js' %}"></script>
      <!-- Bootstrap 4 -->
      <script src="{% static 'lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
</body>
</html>
