{% extends 'base.html' %}
{% block logs_link_active %}active{% endblock %}
{% block page_header_title %}Log List{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ logs.count }} Log{{logs.count|pluralize}} Uploaded
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Entry ID</th>
                                <th>Processing Status</th>
                                <th>Branch</th>
                                <th>Computer</th>
                                <th>File</th>
                                <th>Logging Period</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in logs %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:log_detail' l.pk %}">{{l.id}}</a>
                                    </td>
                                    <td>
                                        {% if l.processed %}
                                        <i class="fas fa-check-circle text-success"></i> Processed
                                        {% else %}
                                            <i class="fas fa-times-circle text-muted"></i> Pending
                                        {% endif %}
                                    </td>
                                    <td>
                                        ID: {{ l.computer.branch.id }} <br>
                                        <span class="text-muted">{{ l.computer.branch.name }}</span>
                                    </td>
                                    <td>
                                        Serial: {{ l.computer.serial }} <br>
                                        <span class="text-muted">{{l.computer.nickname }}</span>
                                    </td>
                                    <td>
                                        <a href="{{ l.file.url }}">{{ l.file }}</a>
                                    </td>
                                    <td>
                                        {{ l.start }} &mdash; {{l.end}} <br>
                                        Duration:<span class="text-muted"> {{l.start|timesince:l.end }}</span>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>No logs available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}