{% extends 'base.html' %}
{% load humanize %}
{% block reports_link_active %}active{% endblock %}
{% block page_header_title %} Log Analysis Reports {% endblock page_header_title %}
{% block page_content %}
    <div class="row card-deck">
        <div class="card card-outline card-navy">
                <div class="card-header">
                    Event Share Metrics (Global)
                </div>
                <div class="card-body">
                    <canvas id="boss-rep"></canvas>
                </div>
        </div>
        <div class="card card-outline card-navy">
                <div class="card-header">
                    Event Share Metrics (By Branch)
                </div>
                <div class="card-body">
                    <canvas id="mbb" style="height: 300px;"></canvas>
                </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        var pieChartCanvas = $('#boss-rep').get(0).getContext('2d');
        var pieData = {
                labels: [
                    {% for ev in events %}
                        '{{ ev.title }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                    data: [
                        {% for ev in events %}
                            '{{ ev.logs.count }}',
                        {% endfor %}
                    ],
                    backgroundColor : [
                        {% for ev in events %}
                            '{{ ev.color }}',
                        {% endfor %}
                    ],
                    }
                ]
        }

        var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
        }
        var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions      
        })


        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $('#mbb').get(0).getContext('2d')
        var barData = {
            
        labels  : {{ mbb.labels|safe }},
        datasets: {{ mbb.datasets|safe }}
        }
        var barChartData = jQuery.extend(true, {}, barData)
        // barChartData.datasets[0] = 

        var barChartOptions = {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false,
            scales: {
                xAxes: [{
                stacked: true,
                }],
                yAxes: [{
                stacked: true
                }]
            }
        }

        var barChart = new Chart(barChartCanvas, {
            type: 'bar', 
            data: barChartData,
            options: barChartOptions
        })
    </script>
{% endblock %}